*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}
.container .heading{
    width: 50%;
    padding-bottom: 50px;

}
.container .heading h3 span{
    font-weight: 100;
}
.container .heading h3{
    display: inline-block;
    position: relative;
    font-size: 4em;
    font-weight: bolder;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
.container .heading h3::after{
    content: '';
    position:absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #222;
    transform-origin: bottom;
    transition: transform 0.30s;
}
  
.heading h3:hover::after{
    transform: scaleX(1);
    transform-origin:bottom;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
@media only screen and (max-width: 769px){
.container .box{
    flex-direction: column;
}
.container .box .dream{
    width: 100%;
}
}
@media only screen and (max-width: 643px){
    .container .heading{
        width: 100%;
    }
    .container .heading h3{
        font-size: 1em;
    }
    }